.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boxdiv,
  .LeftRight {
    flex: 0 0 auto; /* Ensures items don't grow or shrink */
    font-size: 2vw;
    margin: 0vh 1vw;
  }
  
  
  .pageactive {
    color: blue;
  }
  
  @media screen and (max-width:512px){
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .boxdiv{
        flex: 0 0 auto; /* Ensures items don't grow or shrink */
        font-size: 6vw;
        margin: 0vh 1vw;
      }
      .LeftRight {
        flex: 0 0 auto; /* Ensures items don't grow or shrink */
        font-size: 6vw;
        margin: 0vh 1vw;
      }
      
      .pageactive {
        color: blue;
      }
      
  }