
.arraydiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boxdiv{
    width: 6%;
    text-align: center;
    padding: 2px;
    margin: 0px 3px;
    border-radius: 3px;
    background-color: rgb(167, 155, 155);
    cursor: pointer;
}

.pageactive{
    background-color: blueviolet;
}