.newpasswordmaindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.shutterstock.com/shutterstock/photos/159514727/display_1500/stock-photo-colorful-multi-colored-de-focused-abstract-photo-blur-background-159514727.jpg");
}

.newpasswordcontainer{
    background-color:#5FBDFF;
    border-radius: 3vh;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newpasswordpage{
    background-color: white;
    width: 80%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid blue;
}

.newpasswordimgdiv{
    margin-top: 1vh;
    width: 95%;
    max-height: 15vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}
.newpasswordimgdiv>img{
    width: 20%;
    border-radius: 15vw;
    aspect-ratio: 1/1;
    /* border: 2px solid green; */
}
.newpasswordheading{
    
    width: 95%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.newpasswordpage>form{
     /* border: 2px solid blue; */
     width: 95%;
     min-height: 25vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
}

.newpasswordpage>form>input,.newpasswordpage>form>button{
    width: 60%;
    padding: 1vh;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 1vw;
    color:white;

}
.newpasswordpage>form>input{
    color: black;
    font-weight: 400;
}
.newpasswordpage>form>button{
    background-color:rgb(85, 74, 214);
}

@media screen and (max-width:512px){
    .newpasswordcontainer{
        width: 95%;
        height: 90%;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
    
    }
    
    .newpasswordppage{
        background-color: white;
        border-radius: 2vh;
       width: 90%;
       min-height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
    }

    .newpasswordimgdiv{
        margin-top: 1vh;
        width: 95%;
        max-height: 20vh;
        border: 2px solid green;
        display: flex;
        justify-content: center;
    }

    .newpasswordimgdiv>img{
        width: 40%;
        border: 2px solid green;
    }
    .newpasswordheading{
    
        width: 95%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid green;
        text-align: center;
    }
    .newpasswordpage>form>input,.newpasswordpage>form>button{
        width: 90%;
        padding: 2vh;
        font-size: 4vw;
        border-radius: 3vw;
    
    }

}

@media screen and (min-width:512px) and (max-width:786px){
    .newpasswordcontainer{
        width: 70%;
        height: 90%;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
    
    }

    .newpasswordimgdiv{
        margin-top: 1vh;
        width: 95%;
        max-height: 35h;
        border: 2px solid green;
        display: flex;
        justify-content: center;
    }

   
    .newpasswordimgdiv>img{
        width: 30%;
    }

    .newpasswordheading{
    
        width: 95%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid green;
        text-align: center;
    }

    .newpasswordpage>form>input,.newpasswordpage>form>button{
        width: 60%;
        padding: 1vh;
        font-size: 3vw;
        border-radius: 2vw;
    
    }
    
}

@media screen and (min-width:786px) and (max-width:1200px){
    .newpasswordcontainer{
        width: 80%;
        height: 90%;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
    
    }
    .newpasswordimgdiv{
        margin-top: 1vh;
        width: 95%;
        max-height: 30h;
        border: 2px solid green;
        display: flex;
        justify-content: center;
    }
    .newpasswordimgdiv>img{
        width: 20%;
    }

    .newpasswordpage>form>input,.newpasswordpage>form>button{
        width: 50%;
        padding: .5vh;
        font-size: 2vw;
        border-radius: 1vw;
    
    }
    
}